:root {
  --primary: black;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.full-screen, .full-screen-x {
  width: 100vw;
}

.full-screen, .full-screen-y {
  height: 100vh;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-transparent {
  background-color: transparent;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

.text-grey {
  color: grey;
}

.opacity-80-hover:hover {
  opacity: 0.8;
}

.pointer {
  cursor: pointer
}

.scroll, .scroll-y {
  overflow-y: auto;
}

.scroll, .scroll-x {
  overflow-x: auto;
}

.no-scroll{
  overflow: hidden;
}

.flex, .row, .column {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grow-1 {
  flex-grow: 1;
}

.basis-0{
  flex-basis: 0;
}

.justify-start {justify-content: start;}
.justify-center, .flex-center {justify-content: center;}
.item-center, .flex-center {align-items: center;}
.justify-between {justify-content: space-between;}

/* Positions */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Paddings */
.pl-xs, .pa-xs, .px-xs {padding-left: 2px;}
.pl-sm, .pa-sm, .px-sm {padding-left: 4px;}
.pl-md, .pa-md, .px-md {padding-left: 8px;}
.pl-lg, .pa-lg, .px-lg {padding-left: 16px;}
.pl-xl, .pa-xl, .px-xl {padding-left: 32px;}
.pr-xs, .pa-xs, .px-xs {padding-right: 2px;}
.pr-sm, .pa-sm, .px-sm {padding-right: 4px;}
.pr-md, .pa-md, .px-md {padding-right: 8px;}
.pr-lg, .pa-lg, .px-lg {padding-right: 16px;}
.pr-xl, .pa-xl, .px-xl {padding-right: 32px;}
.pt-xs, .pa-xs, .py-xs {padding-top: 2px;}
.pt-sm, .pa-sm, .py-sm {padding-top: 4px;}
.pt-md, .pa-md, .py-md {padding-top: 8px;}
.pt-lg, .pa-lg, .py-lg {padding-top: 16px;}
.pt-xl, .pa-xl, .py-xl {padding-top: 32px;}
.pb-xs, .pa-xs, .py-xs {padding-bottom: 2px;}
.pb-sm, .pa-sm, .py-sm {padding-bottom: 4px;}
.pb-md, .pa-md, .py-md {padding-bottom: 8px;}
.pb-lg, .pa-lg, .py-lg {padding-bottom: 16px;}
.pb-xl, .pa-xl, .py-xl {padding-bottom: 32px;}

/* Margins */
.ml-xs, .ma-xs, .mx-xs {margin-left: 2px;}
.ml-sm, .ma-sm, .mx-sm {margin-left: 4px;}
.ml-md, .ma-md, .mx-md {margin-left: 8px;}
.ml-lg, .ma-lg, .mx-lg {margin-left: 16px;}
.ml-xl, .ma-xl, .mx-xl {margin-left: 32px;}
.mr-xs, .ma-xs, .mx-xs {margin-right: 2px;}
.mr-sm, .ma-sm, .mx-sm {margin-right: 4px;}
.mr-md, .ma-md, .mx-md {margin-right: 8px;}
.mr-lg, .ma-lg, .mx-lg {margin-right: 16px;}
.mr-xl, .ma-xl, .mx-xl {margin-right: 32px;}
.mt-xs, .ma-xs, .my-xs {margin-top: 2px;}
.mt-sm, .ma-sm, .my-sm {margin-top: 4px;}
.mt-md, .ma-md, .my-md {margin-top: 8px;}
.mt-lg, .ma-lg, .my-lg {margin-top: 16px;}
.mt-xl, .ma-xl, .my-xl {margin-top: 32px;}
.mb-xs, .ma-xs, .my-xs {margin-bottom: 2px;}
.mb-sm, .ma-sm, .my-sm {margin-bottom: 4px;}
.mb-md, .ma-md, .my-md {margin-bottom: 8px;}
.mb-lg, .ma-lg, .my-lg {margin-bottom: 16px;}
.mb-xl, .ma-xl, .my-xl {margin-bottom: 32px;}

/* Borders */
.no-border {
  border: 0;

}

.no-border:focus {
  outline: none;
}

.rounded-border-tl-xs, .rounded-border-t-xs, .rounded-border-l-xs, .rounded-border-xs {border-top-left-radius: 2px;}
.rounded-border-tl-sm, .rounded-border-t-sm, .rounded-border-l-sm, .rounded-border-sm {border-top-left-radius: 4px;}
.rounded-border-tl-md, .rounded-border-t-md, .rounded-border-l-md, .rounded-border-md {border-top-left-radius: 8px;}
.rounded-border-tl-lg, .rounded-border-t-lg, .rounded-border-l-lg, .rounded-border-lg {border-top-left-radius: 16px;}
.rounded-border-tl-xl, .rounded-border-t-xl, .rounded-border-l-xl, .rounded-border-xl {border-top-left-radius: 32px;}
.rounded-border-tr-xs, .rounded-border-t-xs, .rounded-border-r-xs, .rounded-border-xs {border-top-right-radius: 2px;}
.rounded-border-tr-sm, .rounded-border-t-sm, .rounded-border-r-sm, .rounded-border-sm {border-top-right-radius: 4px;}
.rounded-border-tr-md, .rounded-border-t-md, .rounded-border-r-md, .rounded-border-md {border-top-right-radius: 8px;}
.rounded-border-tr-lg, .rounded-border-t-lg, .rounded-border-r-lg, .rounded-border-lg {border-top-right-radius: 16px;}
.rounded-border-tr-xl, .rounded-border-t-xl, .rounded-border-r-xl, .rounded-border-xl {border-top-right-radius: 32px;}
.rounded-border-bl-xs, .rounded-border-b-xs, .rounded-border-l-xs, .rounded-border-xs {border-bottom-left-radius: 2px;}
.rounded-border-bl-sm, .rounded-border-b-sm, .rounded-border-l-sm, .rounded-border-sm {border-bottom-left-radius: 4px;}
.rounded-border-bl-md, .rounded-border-b-md, .rounded-border-l-md, .rounded-border-md {border-bottom-left-radius: 8px;}
.rounded-border-bl-lg, .rounded-border-b-lg, .rounded-border-l-lg, .rounded-border-lg {border-bottom-left-radius: 16px;}
.rounded-border-bl-xl, .rounded-border-b-xl, .rounded-border-l-xl, .rounded-border-xl {border-bottom-left-radius: 32px;}
.rounded-border-br-xs, .rounded-border-b-xs, .rounded-border-r-xs, .rounded-border-xs {border-bottom-right-radius: 2px;}
.rounded-border-br-sm, .rounded-border-b-sm, .rounded-border-r-sm, .rounded-border-sm {border-bottom-right-radius: 4px;}
.rounded-border-br-md, .rounded-border-b-md, .rounded-border-r-md, .rounded-border-md {border-bottom-right-radius: 8px;}
.rounded-border-br-lg, .rounded-border-b-lg, .rounded-border-r-lg, .rounded-border-lg {border-bottom-right-radius: 16px;}
.rounded-border-br-xl, .rounded-border-b-xl, .rounded-border-r-xl, .rounded-border-xl {border-bottom-right-radius: 32px;}

.bl-primary, .bo-primary {border-left: 1px solid var(--primary);}
.br-primary, .bo-primary {border-right: 1px solid var(--primary);}
.bt-primary, .bo-primary {border-top: 1px solid var(--primary);}
.bb-primary, .bo-primary {border-bottom: 1px solid var(--primary);}

.bl-red, .bo-red {border-left: 1px solid red;}
.br-red, .bo-red {border-right: 1px solid red;}
.bt-red, .bo-red {border-top: 1px solid red;}
.bb-red, .bo-red {border-bottom: 1px solid red;}

.bl-grey, .bo-grey {border-left: 1px solid grey;}
.br-grey, .bo-grey {border-right: 1px solid grey;}
.bt-grey, .bo-grey {border-top: 1px solid grey;}
.bb-grey, .bo-grey {border-bottom: 1px solid grey;}

/* Gap */
.gap-xs { gap: 2px;}
.gap-sm { gap: 4px;}
.gap-md { gap: 8px;}
.gap-lg { gap: 16px;}
.gap-xl { gap: 32px;}

/* Typography*/
.text-h1 {
  font-size: 96px;
}
.text-h2 {
  font-size: 60px;
}
.text-h3 {
  font-size: 48px;
}
.text-h4 {
  font-size: 34px;
}
.text-h5 {
  font-size: 24px;
}
.text-h6 {
  font-size: 20px;
}
.text-body1 {
  font-size: 16px;
}
.text-body2 {
  font-size: 14px;
}
.text-subtitle1 {
  font-size: 16px;
}
.text-subtitle2 {
  font-size: 14px;
}
.text-button {
  font-size: 14px;
}
.text-overline {
  font-size: 10px;
}
.text-caption {
  font-size: 12px;
}